*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu-icon{
    width: 25px;
    
    
}



.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
 nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none ;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}


.sum-menu-1{
    display: none;
}
.nav ul li:hover .sum-menu-1{
    display: block;
    position: absolute;
    background: #f31c1c;
    margin-top: 15px;
    margin-left: -15px;
}
.nav ul li:hover.sum-menu-1{
    display: block;
    margin: 10px;
}

.nav ul li:hover.sum-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: l;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

.heder .row{
    margin-top: 70px;
}
.containers{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 100px;
    min-width: 300px;
}

.col-2 img{
    max-width: 100px;
    padding: 50px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    border-radius:30px ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;

}
.heder{
    background-color: aqua;
}

.small-container{
    margin-top: 70px;
    
}



 .categories{
    margin: 70px 0;

}
.col-3{
  flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 200px;
    height: 200px;
}
.rating{
    color: #ff523b;
}
.col-4:hover{
 transform: translateY(-5px);
}
.title{
    text-align: center;
    margin:  0 auto 80px;
    position: relative;
    line-height: 60px;
}
.offer{
  background-color: aqua;
  margin-top: 80px;
  padding: 30px 0; 
 
}
.textimonial{
    padding-top: 100px;
}
.textimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0, 0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.textimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.textimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3{
    font-size: 12px;
    margin: 12px 0;
    color: rgb(124, 25, 238);
}
.footer{
    background: #000;
    color: #f31c1c;
    font-size: 14px;
    padding: 60px 0 20px;
}
footer p{
    color: #fff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
ul{
    list-style-type:none ;
}





















